<!doctype html>
<html lang="kr">
<head>
	<meta charset="UTF-8">
	
	
	  <title>Addressbook</title>
	  <link rel="shortcut icon" href="https://lh3.googleusercontent.com/sHMKgiee-dwZHonhBF-7b4e9y7eXXk1_yxIeVoxJ3jj0IpAPil66SeI6qTz88iuK_Q=w300" />
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

</head>
	
<body>
<input type="checkbox" id="menu_state" checked>
<nav>
	<label for="menu_state"><i class="fa"></i></label>
	<ul>
		<li data-content={{contact_count}} class="unread">
			<a href="/">
				<i class="fa fa-inbox"></i>
				<span>Contacts</span>
			</a>
		</li>
		<li>
			<a href="/favorite">
				<i class="fa fa-heart"></i>
				<span>Favorites</span>
			</a>
		</li>
		<li>
			<a href="/recent">
				<i class="fa fa-paper-plane"></i>
				<span>Recent</span>
			</a>
		</li>
		<li data-content="2" class="unread">
			<a href="/trash">
				<i class="fa fa-trash"></i>
				<span>Trash</span>
			</a>
		</li>
		<li>
			<a href="/new">
				<i class="fa fa-plus"></i>
				<span>Plus</span>
			</a>
		</li>
	</ul>
</nav>
<main>
	<header></header>
			<style>
		section
		{
		background: url("{{ url_for('static', filename='gyuri.png')}}");
		background-repeat:  no-repeat;
		background-size: 100% 100%;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		}</style>


	<section style = "width:600px border-width:20px; border-style:solid; border-color:  #ff3333;">

		<p style="font-weight: bold; font-size: 20px ">연락처 추가하기</p>
		<form action='{{request.path}}'  method='POST'>
			<div>
			<label for='name'>이름 :</label>
			<input type='text' id='name' name='name'><br>
			</div>
			<div>
			<label for="number">전화번호 :</label>
			<input type="text" id="number" name="number"><br>
			</div>
			<div>
			<label for="email">E-mail :</label>
			<input type="email" id="email" name="email">
			<input type="submit" value="추가" style="font-weight: bold; color: #ffffff;font-size: 15px; background-color : #336699; border:1px solid #333366; padding :3px">
			</div>
		</form>
	</section>
</main>
</body>
</html>